recursive-include danbooru *
include *.txt
include *.rst
include *.md
include *.py
include LICENSE

exclude danbooru/bot/settings.py
exclude last_post.txt
global-exclude *.pyc
global-exclude ._*
global-exclude *.mo
